fastapi
pandas
scikit-learn
fuzzywuzzy
python-Levenshtein==0.12.2
uvicorn
memory_profiler
dask
numpy
python-dateutil
scipy
pyarrow
fallocate -l 512M /swapfile && chmod 600 /swapfile && mkswap /swapfile && swapon /swapfile
